<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
    <meta charset=" UTF-8" />
    <title>安心選宅風水師</title>
    <!--import jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!--import 縣市下拉式選單-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery-twzipcode@1.7.15-rc1/jquery.twzipcode.min.js"></script> -->
    <!-- <script src="https://raw.githubusercontent.com/Char11e/jQuery-TWzipcode/master/jquery.twzipcode.min.js"></script> -->
    <script src="{% static '/twzipcode.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.4/proj4.js"></script> -->
    <script src="{% static '/proj4js.js' %}"></script>
    <!--import 字型及twzip樣式-->
    
	<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

</head>

<body>

    <div  id="page"></div>
	<h1>安心選宅風水師</h1>
    </br>
    <!--顯示下拉式選單，並置中選單-->
        <h3>請輸入欲查詢之地址:</h3>
        <span id="twzipcode"></span>
        <input type="text" id="addr" name="addr" placeholder="◯◯路/街◯◯號◯◯樓之◯◯">
        <button id='search' type="submit" onclick="showInput()">查詢</button>
        <button onclick="cleaninput()">清空輸入地址</button>
        </br>
        </br>
        <label style="margin-bottom: 35px;">您查詢的地址為:</label>
        <span id="display" name="display"></span>
        <label>您查詢的經緯度(WGS84)為:</label>
        <p><span id="l"></span></p>
        </br>

        <p>
            <div style="font-weight:bold;">WGS84經緯度轉TWD97經緯度為:</div>
            <div id="translateRes"></div>
        </p>

        <button onclick="cleanresult()">清空查詢結果</button>
		
	<!--執行AJAX查詢-->
		<button onclick="Query()">Query</button>
		<em>{{ row }}</em>
		
		


    <script>
        // 顯示查詢之地址                                                      
        function showInput() {
            if ($('span[name="display"]').innerHTML == "") {
                var addr = $('input[name="addr"]').val();
                var county = $('select[name="county"]').val();
                var district = $('select[name="district"]').val();
                var zipcode = $('input[name="zipcode"]').val();

                $('#display').append(zipcode + county + district + addr);
            } else {
                document.getElementById("display").innerHTML = "";
                var addr = $('input[name="addr"]').val();
                var county = $('select[name="county"]').val();
                var district = $('select[name="district"]').val();
                var zipcode = $('input[name="zipcode"]').val();
                var complete = zipcode + county + district + addr;
                $('#display').append(zipcode + county + district + addr);
            }
            document.querySelector("#display").style.display="block";
        }

        // 清空addr及清空畫面文字                                                             
        function cleaninput() {
            document.getElementById("addr").value = "";
            document.getElementsByName('county')[0].value = "";
             var dist = document.getElementsByName('district')[0];
            dist.innerHTML = "<option value>鄉鎮市區</option>";
            dist.value = '';
            document.getElementsByName('zipcode')[0].value = "";
        }

        // 清空display                                                       
        function cleanresult() {
            document.getElementById("display").innerHTML = "";
            document.getElementById("l").innerHTML = "";        
        }
    </script>
    <script>
        // 導入twzipcode css
        $('#twzipcode').twzipcode({
            // 依序套用至縣市、鄉鎮市區及郵遞區號框
            'css': ['county', 'district', 'zipcode']
        });
    </script>
    <script>
        const key = 'AIzaSyA8nVKM1Uo6XSJGsRWw7Uvx-csglKtEYio';

        function getGeo(address) {
            fetch('https://maps.googleapis.com/maps/api/geocode/json?address=' + address + '&key=' + key)
                .then((res) => {
                    if (res.status) {
                        return res.json();
                    }
                }).then((resJson) => {
                    var location = resJson.results[0].geometry.location;
                    window.localStorage.setItem('lat', location.lat);
                    window.localStorage.setItem('lng', location.lng);
                    document.querySelector('#l').innerHTML = "您的經度是" + location.lat + "<br>" +"您的緯度是" +  location.lng;
                    //document.querySelector('#l').innerText = "你的經緯度是： "+[location.lat, location.lng].join(', ')
                    Wgs84ToMector2(location.lat,location.lng)
                }).catch(e => {
                    console.log(e);
                });
        }

        function getInput() {
            var addr = document.getElementsByName('addr')[0].value;
            var county = document.getElementsByName('county')[0].value;
            var district = document.getElementsByName('district')[0].value;
            var zipcode = document.getElementsByName('zipcode')[0].value;
            var complete = zipcode + county + district + addr;
            console.log(complete)
            return complete;
        }
        
        function Wgs84ToMector2(lat,lng) {
                // const proj4 = require('proj4');
                var position =  proj4(proj4('EPSG:4326'), proj4('EPSG:3826'), [lng, lat])
                document.querySelector('#translateRes').innerText = position;
        }

        document.querySelector('#search').addEventListener('click', function () {
            showInput();
            getGeo(getInput());
        })

        //defs
        proj4.defs([
            [
                'EPSG:4326',
                '+title=WGS84 (location.lng / location.lat) +proj=longlat +ellps=WGS84 +datum=WGS84 +units=degrees'],
            [
                'EPSG:3826',
                '+title=TWD97 TM2 +proj=tmerc +lat_0=0 +lon_0=121 +k=0.9999 +x_0=250000 +y_0=0 +ellps=GRS80 +units=m +no_defs'
            ],
            [
                'EPSG:3828',
                '+title=TWD67 TM2 +proj=tmerc +lat_0=0 +lon_0=121 +k=0.9999 +x_0=250000 +y_0=0 +ellps=aust_SA +towgs84=-752,-358,-179,-0.0000011698,0.0000018398,0.0000009822,0.00002329 +units=m +no_defs'
            ]
        ]);    

        //EPSG
        // let EPSG3826 = new proj4.Proj('EPSG:3826'); //TWD97 TM2(121分帶)
        // let EPSG3828 = new proj4.Proj('EPSG:3828'); //TWD67 TM2(121分帶)
        // let EPSG4326 = new proj4.Proj('EPSG:4326'); //WGS84

        // //4326轉3826(WGS84經緯度轉TWD97 TM2)
        // let data1 = proj4(EPSG4326, EPSG3826, [121, 23]);
        // document.getElementById('cv4326_3826').innerHTML = data1;
        // //[250000,2544283.12479424]

        // //3826轉3828(TWD97 TM2轉TWD67 TM2)
        // let data2 = proj4(EPSG3826, EPSG3828, data1);
        // document.getElementById('cv3826_3828').innerHTML = data2;
        // //[249171.10594810007, 2544488.5274230908]
        
        

    </script>
	<script>
	function Go() {
	 var arr = [1, 2];
    $.ajax({
        type: 'POST',
        url: '/go/',
        data: {csrfmiddlewaretoken: '{{ csrf_token }}',
				arr: arr},
        success: function (data) {
        console.log('Success!');
        },
    });
	}

	</script>
	<script>
	function toDB() {
	 var arr = [1, 2];
    $.ajax({
        type: 'POST',
        url: '/go/',
        data: {csrfmiddlewaretoken: '{{ csrf_token }}',
				arr: arr},
        success: function (data) {
        console.log('Success!');
        },
    });
	}

	</script>
	<script>
	function Query() {
    $.ajax({
        type: 'GET',
        url: '/query/',
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function (data) {
        console.log('Success!');
        },
    });
	}

	</script>

</body>

</html>
